body {
    font-family: Arial, sans-serif;
}
.header {
    background-color: #333333;
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.sezione {
    width: auto;
    padding: 10px;
}
.sezione:hover {
    background-color: #242424;
}
#pulsante_account {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}
#pulsante_account:hover {
    background-color: #242424;
}
a {
    color: white;
    text-decoration: none;
}
#img_account {
    width: 196px;
    height: 128px;
}
.account_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* .articolo {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto;
} */
/* fine prova */

.ordini_container {
    border-color: black;
}

.articolo {
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid black;
    width: 25%;
    border-radius: 5px;
    padding: 10px;
}

