body {
    font-family: Arial, sans-serif;
    background-color: rgb(206, 204, 204);
}
.header {
    background-color: #333333;
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.sezione {
    width: auto;
    padding: 10px;
    transition: background-color 0.3s;
}
.sezione:hover {
    background-color: #242424;
}
#pulsante_account {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    padding: 10px;
    transition: background-color 0.3s;
}
#pulsante_account:hover {
    background-color: #242424;
}
a {
    color: white;
    text-decoration: none;
}
#img_account {
    width: 196px;
    height: 168px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 30%;
}
.account_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* .articolo {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto;
} */
/* fine prova */

.ordini_container {
    padding-top: 30px;
    border-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.articolo {
    background-color: #333333;
    color: white;
    margin: 5px;
    border: 2px solid black;
    width: 20%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #333333;
    transition: box-shadow 0.5s ease 0s;
}
.articolo:hover {
    box-shadow: 0px 5px 30px 0px #333333;
}

input[type="button"], [type="submit"] {
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 5px;
}

