/* Stile del body */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  /* Stile del titolo */
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  /* Stile del form */
  form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Stile dei campi di input */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Stile del pulsante di invio */
  input[type="submit"] {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Stile del messaggio di errore */
  .err {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 13px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
  }
  