/* Stile del body e del container */
body {
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Stile del titolo */
  h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
  }
  
  /* Stile dei pulsanti */
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  /* Stile dei pulsanti quando il mouse ci passa sopra */
  button:hover {
    background-color: #3e8e41;
  }
  
  /* Stile degli input */
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Stile della sezione dei risultati */
  #result {
    margin-top: 50px;
  }
  
  /* Stile della tabella dei risultati */
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  