#header {
    background-color: #333333;
    padding: 0%;
    width: 100%;
}
.menu {
    width: 100%;
}
.immagine {
    width: 25%;
}
.descrizione {
    width: 50%;
}
.quantita_acquisto {
    width: 25%;
    text-align: center;
}
.container {
    border: 1px solid black;
    width: 100%;
}
div {
    border: 2px solid black;
}
.articolo {
    width: 100%;
}
img {
    width: 128px;
    height: 128px;
}