body {
    font-family: Arial, sans-serif;
    background-color: rgb(184, 184, 184);
    padding-bottom: 80px;
}

.header {
    background-color: #333333;
    padding: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.immagine_articolo {
    width: 156px;
    height: 156px;
    border: 1px solid black;
    margin: 5px;
    border: 9px solid;
}
.descrizione_articolo {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    flex: 1;
    background-color: aliceblue;
    border-radius: 25px;
}

.descrizione_articolo input {
    background-color: aliceblue;
}

.quantita_acquisto_articolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.numero_quantita {
    text-align: center;
    width: 100%;
    border-radius: 5%;
}
.container {
    /* border: 1px solid black; */
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.articolo {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    /* margin-bottom: 80px; */
    margin-left: auto;
}
img {
    width: 156px;
    height: 156px;
}
.bottone {
    width: 100%;
    background-color: #353434;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.sezione {
    width: auto;
    padding: 10px;
    background-color: #333333;
    transition: background-color 0.3s;
}
.sezione:hover {
    background-color: #242424;
}
#pulsante_account {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    padding: 10px;
    transition: background-color 0.3s;
}
#pulsante_account:hover {
    background-color: #242424;
}
a {
    color: white;
    text-decoration: none;
}

.descrizione_articolo input {
    font-size: 14px;
}

.footer {
    background-color: #333333;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-top: auto;
}

.footer input[type="text"] {
    background-color: #333333;
    color: white;
    border: 0px solid white;
    text-align: center;
    font-size: 24px;
}

.footer input[type="submit"] {
    font-weight: bold;
    background-color: white;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    font-size: 16px;
}

.box_quantita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
}

.ordina {
    width: 250px;
    height: 100px;
    border-radius: 25px;
}

.titolo {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
}

.prezzo_articolo {
    margin-top: 10px;
    border: 0px;
    width: 100px;
}
.disponibilita_articolo {
    margin-top: 10px;
    border: 0px;
    width: 100px;
}

/* div {
    border: 2px solid black;
} */